<footer class="footer">
  <div class="container footer-inner">
    <div class="footer-col footer-brand">
      <h4 class="footer-logo">CROCINI</h4>
      <p class="footer-slogan">Be One of a Kind With Us.</p>
    </div>
    <div class="footer-col">
      <h5 class="footer-heading">EXPLORE</h5>
      <ul class="footer-links">
        <li><a href="/story">Story</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/custom-order">Made to Order</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5 class="footer-heading">FOLLOW</h5>
      <ul class="footer-links">
        <li><a href="https://instagram.com/artesano_seoul" target="_blank" rel="noopener">Instagram @artesano_seoul</a></li>
        <li><a href="#" target="_blank" rel="noopener">KakaoTalk @artesano</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h5 class="footer-heading">COMPANY</h5>
      <p class="footer-text">
        대표 박진호<br />
        사업자등록번호 301-27-53386<br />
        통신판매신고 2009-5570031-30-2-00006
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 CROCINI™. All rights reserved.</p>
  </div>
</footer>
